autom4te.cache
stamp-h1

aclocal.m4

configure
config.h*
Makefile.in
*/Makefile.in

config.log
config.status

libtool
Makefile
*/Makefile

ocesql/parser.[ch]
ocesql/scanner.c

*/.deps
*/.libs
*/*.o
*/*.la
*/*.lo
ocesql/ocesql

build
